<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<ion-img [src]="logo" class="smllogo__img p-1" alt="logo"></ion-img>
		</ion-title>
		<ion-button fill="clear" slot="end" [routerLink]="['/','home','infor']">
			<ion-icon name="information-circle-outline"></ion-icon>
		</ion-button>
		<ion-button
			fill="clear"
			slot="end"
			[routerLink]="['/','home','notifications']"
		>
			<ion-icon name="notifications-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="exportForm" (ngSubmit)="exportSubmit()">
		<ion-item class="ion-margin-bottom">
			<ion-label position="stacked"
				>{{'seller.model_label'| translate}}</ion-label
			>
			<ion-select
				interface="action-sheet"
				placeholder="{{'seller.model_input_placeholder' | translate}}"
				(ionChange)="fetchYear($event)"
				[formControl]="model"
			>
				<ion-select-option *ngFor="let model of models" [value]="model.id">
					{{model.name}}
				</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item class="ion-margin-bottom">
			<ion-label position="stacked"
				>{{'seller.year_label' | translate}}</ion-label
			>
			<ion-select
				interface="action-sheet"
				placeholder="{{'seller.year_input_placeholder'| translate}}"
				[formControl]="year"
			>
				<ion-select-option *ngFor="let year of years">
					{{year.year}}
				</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-button
			class="ion-margin-bottom export__button"
			expand="block"
			type="submit"
			[disabled]="!exportForm.valid"
			color="tertiary"
		>
			{{'seller.check_export_availability'| translate}}
		</ion-button>
	</form>
	<ion-card class="m-0">
		<ion-slides pager="true" [options]="slideOpts">
			<ion-slide>
				<ion-img [src]="image"></ion-img>
			</ion-slide>
			<ion-slide>
				<ion-img [src]="image"></ion-img>
			</ion-slide>
			<ion-slide>
				<ion-img [src]="image"></ion-img>
			</ion-slide>
		</ion-slides>
		<ion-button
			class="request__button"
			[routerLink]="['/','request','plate']"
			color="tertiary"
		>
			{{'seller.request_quote' | translate}}
		</ion-button>
	</ion-card>
	<div class="mb-4"></div>
	<ion-grid class="m-0 p-0">
		<ion-row class="m-0 p-0">
			<ion-col size="6" *ngFor="let item of review_all">
				<ion-card
					[routerLink]="['/','home','review','detail',item.id]"
					class="m-0 p-0"
				>
					<ion-img
						class="item__image"
						src="../../../../assets/images/photos/KakaoTalk_Photo_2020-09-22-09-31-49.png"
					></ion-img>
					<ion-card-header class="m-0 p-0 ml-4">
						<bar-rating
							[(rate)]="item.star"
							[max]="5"
							[theme]="'fontawesome'"
							class="not-active"
						></bar-rating>
					</ion-card-header>
					<ion-card-content>
						<div>
							<p>
								K5
								<span class="pull-right">￦{{item.finalPrice | number}}</span>
							</p>
						</div>
						<p>{{item.review}}</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
