.smllogo {
	&__img {
		height: 2.6rem;
		width: 45%;
	}
}

.item {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center;
	&__image {
		margin-left: auto;
		margin-right: auto;
	}
}

.export__button {
	margin-bottom: 3rem !important;
}

.request__button {
	position: absolute;
	top: 85%; /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */
	transform: translate(-50%, -50%);

	text-align: center;

	width: 80vw;

	z-index: 1;
}

ion-ripple-effect {
    color: #5260ff;
} 

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.item-overly-trans .rating-stars .rating-stars-container .rating-star.sm {
	color: #f1c40f !important;
}

.rating-stars .rating-stars-container .rating-star.sm {
	font-size: 13px;
}

.item-overly-trans .rating-stars {
	position: unset;
	display: table;
}
