<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-img [src]="logo" class="smllogo__img p-1" alt="logo"></ion-img>
		</ion-title>
		<ion-button fill="clear" slot="end" [routerLink]="['/','home','infor']">
			<ion-icon name="information-circle-outline"></ion-icon>
		</ion-button>
		<ion-button
			fill="clear"
			slot="end"
			[routerLink]="['/','home','notifications']"
		>
			<ion-icon name="notifications-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-card *ngFor="let request of requests">
		<ion-item [routerLink]="[request.id]">
			<ion-thumbnail slot="start">
				<img
					src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
				/>
			</ion-thumbnail>
			<ion-grid class="p-0 m-0">
				<ion-row>
					<ion-header style="background: gray;" class="m-0 p-0">
						<p class="fs-20 text-center mt-2 text-dark">{{request.status}}</p>
					</ion-header>
				</ion-row>
				<ion-row>
					<ion-col>
						<p>2009</p>
					</ion-col>
					<ion-col>
						<p>K-5</p>
					</ion-col>
					<ion-col>
						<p>12가1234</p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<p>{{request.miles}}</p>
					</ion-col>
					<ion-col>
						<p>${{request.participants[1] || 0}}</p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-label>{{request.id}}</ion-label>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-card>
</ion-content>
