<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-img [src]="logo" class="smllogo__img p-1" alt="logo"></ion-img>
		</ion-title>
		<ion-button fill="clear" slot="end" [routerLink]="['/','home','infor']">
			<ion-icon name="information-circle-outline"></ion-icon>
		</ion-button>
		<ion-button
			fill="clear"
			slot="end"
			[routerLink]="['/','home','notifications']"
		>
			<ion-icon name="notifications-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list>
		<ion-item
			*ngFor="let request of requests"
			lines="none"
			[routerLink]="request.status === 'Complete' ? ['/','home','review', request.id]: [request.id]"
		>
			<ion-thumbnail slot="start">
				<img
					src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
				/>
			</ion-thumbnail>
			<ion-label style="margin-top: 25px">
				<ion-header
					style="
						background: #bdc3c7;
						background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
						background: linear-gradient(to right, #2c3e50, #bdc3c7);
					"
					class="m-0 p-0"
				>
					<p class="fs-15 text-center text-dark">{{request.status}}</p>
				</ion-header>
				<div class="first">
					<p>
						2009
						<span class="pull-right"
							>K-5<span style="font-size: 10px">12가1234</span></span
						>
					</p>
					<p>
						{{request.miles}}
						<span class="pull-right">${{request.participants[0] || ''}}</span>
					</p>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
