.smllogo {
	&__img {
		height: 2.6rem;
		width: 45%;
	}
}

ion-title {
	padding: 0 !important;
}

img {
	align-self: flex-start;
	width: 100%;
	// padding-right: 8px;
	// margin-top: 25px;
}

.item ion-thumbnail {
	min-width: 5rem;
	min-height: 5rem;
	img {
		max-width: 5rem;
		min-width: 5rem;
	}
}

.wait-status {
	color: #ffc107;
}

.proceed-status {
	color: #28a745;
}

.ended-status {
	color: #6c757d;
}
