<ion-header>
	<ion-toolbar>
		<ion-title>On-going</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item-group>
		<ion-item>
			<ion-label position="floating">Seller</ion-label>
			<ion-input type="text" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Phone</ion-label>
			<ion-input type="number" [(ngModel)]="phone"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Location</ion-label>
			<ion-input type="text" [(ngModel)]="location"></ion-input>
		</ion-item>
	</ion-item-group>
	<ion-button
		expand="block"
		[disabled]="!name || !phone || !location"
		(click)="createRequest()"
	>
		Create Request
	</ion-button>

	<ion-card>
		<ion-item *ngFor="let request of requests">
			<ion-label>Name: {{request.sellerName}}</ion-label>
			<ion-label>EffDate: {{request.effectedTime}}</ion-label>
			<ion-label>ExpDate: {{request.expireDate}}</ion-label>
		</ion-item>
	</ion-card>
</ion-content>
