<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid>
		<ion-row class="mt-6">
			<ion-col>
				<ion-label class="pl-2 pr-2 fs-35">2009</ion-label>
				<ion-label class="pl-2 pr-2 fs-35">K-5</ion-label>
				<ion-label class="pl-2 pr-2">12K1234</ion-label>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-item-group class="mt-4">
		<ion-label> Final Price </ion-label>
		<ion-item lines="none">
			<ion-input class="fs-20 fw-700" value="2000000" readonly></ion-input>
		</ion-item>

		<ion-label>Dealer Information</ion-label>
		<ion-item lines="none" *ngIf="!dealer">
			<ion-avatar slot="start">
				<ion-skeleton-text></ion-skeleton-text>
			</ion-avatar>
			<ion-label>
				<h2><ion-skeleton-text></ion-skeleton-text></h2>
				<p class="fs-15"><ion-skeleton-text></ion-skeleton-text></p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" *ngIf="dealer">
			<ion-avatar slot="start">
				<img src="../../../../assets/images/photos/33327.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>{{dealer.email}}</h2>
				<p class="fs-15">{{dealer.phone}}</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none">
			<bar-rating
				[(ngModel)]="rate"
				[max]="5"
				[theme]="'bootstrap'"
			></bar-rating>
		</ion-item>

		<mat-form-field appearance="outline" class="mt-4" style="width: 100%">
			<mat-label>Please leave the comment</mat-label>
			<textarea
				matInput
				rows="10"
				class="fs-20"
				[(ngModel)]="review"
			></textarea>
		</mat-form-field>
	</ion-item-group>
</ion-content>
<ion-footer class="p-2">
	<ion-button
		expand="block"
		color="tertiary"
		(click)="submitReview()"
		[disabled]="!rate || !review"
		>Confirm the trade</ion-button
	>
</ion-footer>
