<ion-header>
	<ion-toolbar>
		<ion-title class="smllogo">
			<ion-img [src]="logo" class="smllogo__img p-1" alt="logo"></ion-img>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item class="ion-margin-bottom">
		<ion-label position="stacked">Model</ion-label>
		<ion-select
			interface="action-sheet"
			placeholder="Select your car model..."
			[(ngModel)]="name"
		>
			<ion-select-option *ngFor="let model of models">
				{{model.name}}
			</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-item class="ion-margin-bottom">
		<ion-label position="stacked">Year</ion-label>
		<ion-select
			interface="action-sheet"
			placeholder="Select your car model..."
			[(ngModel)]="year"
		>
			<ion-select-option *ngFor="let item of items | async as list">
				{{item.year}}
			</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-button
		class="ion-margin-bottom export__button"
		expand="block"
		(click)="exportAvai()"
	>
		Check export availability
	</ion-button>
	<ion-card class="m-0">
		<ion-slides pager="true" [options]="slideOpts">
			<ion-slide>
				<ion-img [src]="image"></ion-img>
			</ion-slide>
			<ion-slide>
				<ion-img [src]="image"></ion-img>
			</ion-slide>
			<ion-slide>
				<ion-img [src]="image"></ion-img>
			</ion-slide>
		</ion-slides>
		<ion-button class="request__button" routerLink="platenumber">
			Request Quote
		</ion-button>
	</ion-card>
	<ion-item-divider></ion-item-divider>
	<ion-list class="scroll__horizontal">
		<ion-card routerLink="/home/menu">
			<ion-img class="item__image" [src]="image"></ion-img>
			<ion-card-header>
				<ion-card-subtitle>Rating</ion-card-subtitle>
				<ion-card-title>Name</ion-card-title>
			</ion-card-header>
			<ion-card-content>Descriptions</ion-card-content>
		</ion-card>
		<ion-card routerLink="/home/menu">
			<ion-img class="item__image" [src]="image"></ion-img>
			<ion-card-header>
				<ion-card-subtitle>Rating</ion-card-subtitle>
				<ion-card-title>Name</ion-card-title>
			</ion-card-header>
			<ion-card-content>Descriptions</ion-card-content>
		</ion-card>
		<ion-card routerLink="/home/menu">
			<ion-img class="item__image" [src]="image"></ion-img>
			<ion-card-header>
				<ion-card-subtitle>Rating</ion-card-subtitle>
				<ion-card-title>Name</ion-card-title>
			</ion-card-header>
			<ion-card-content>Descriptions</ion-card-content>
		</ion-card>
		<ion-card routerLink="/home/menu">
			<ion-img class="item__image" [src]="image"></ion-img>
			<ion-card-header>
				<ion-card-subtitle>Rating</ion-card-subtitle>
				<ion-card-title>Name</ion-card-title>
			</ion-card-header>
			<ion-card-content>Descriptions</ion-card-content>
		</ion-card>
		<ion-card routerLink="/home/menu">
			<ion-img class="item__image" [src]="image"></ion-img>
			<ion-card-header>
				<ion-card-subtitle>Rating</ion-card-subtitle>
				<ion-card-title>Name</ion-card-title>
			</ion-card-header>
			<ion-card-content>Descriptions</ion-card-content>
		</ion-card>
	</ion-list>
</ion-content>
