.title {
	margin-top: 8rem;
	height: 20vh;

	font-size: 32px;
	line-height: normal;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.subtitle {
	height: 4vh;
	color: gray;

	font-size: 20px;
	line-height: normal;
}
