<ion-header>
	<ion-toolbar>
		<ion-title class="smllogo">
			<ion-img [src]="logo" class="smllogo__img p-1" alt="logo"></ion-img>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- Header/Banner section -->
	<ion-item>
		<div class="bannerimg cover-image bg-background3">
			<div class="header-text">
				<div class="text-center text-white">
					<h1 class="">Welcome to SCRoads</h1>
				</div>
			</div>
		</div>
	</ion-item>
	<!-- End of Header/Banner section -->

	<!-- Login content section -->
	<ion-card class="m-5">
		<div class="container customerpage">
			<div class="row">
				<div class="single-page">
					<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
						<div class="wrapper wrapper2">
							<div class="card-body">
								<h3>Continue as:</h3>
								<ion-input type="text" style="color: black;" [(ngModel)]="name"></ion-input>
								<br/>
								<ion-button expand="block" color="tertiary" (click)="anonyLogin()">
									Proceed
								</ion-button>
								<!-- </form> -->
							</div>
							<!-- <form id="login" class="card-body" tabindex="500"> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-card>
	<!-- End of Login content section -->
</ion-content>