<ion-header>
	<ion-toolbar>
		<ion-title>Private Policy</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="closePrivatePolicyModal()">
				<ion-icon slot="icon-only" name="checkmark-done-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item lines="none">
		<p>
			You can use our services in a variety of ways to manage your privacy. For
			example, you can sign up for a Google Account if you want to create and
			manage content like emails and photos, or see more relevant search
			results. And you can use many Google services when you’re signed out or
			without creating an account at all, like searching on Google or watching
			YouTube videos. You can also choose to browse the web privately using
			Chrome in Incognito mode. And across our services, you can adjust your
			privacy settings to control what we collect and how your information is
			used.
		</p>
	</ion-item>
</ion-content>
