<ion-header>
	<ion-toolbar>
		<ion-title>{{'welcome.privacy_policy' | translate}}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="closePrivatePolicyModal()">
				<ion-icon slot="icon-only" name="checkmark-done-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item lines="none">
		모든 국민은 사생활의 비밀과 자유를 침해받지 아니한다. 공무원의 신분과 정치적
		중립성은 법률이 정하는 바에 의하여 보장된다, 국가는 지역간의 균형있는 발전을
		위하여 지역경제를 육성할 의무를 진다. 국가안전보장회의의 조직·직무범위 기타
		필요한 사항은 법률로 정한다. 대통령은 국무회의의 의장이 되고. 강화조약.
		국가는 이를 보장한다, 국회는 국무총리 또는 국무위원의 해임을 대통령에게
		건의할 수 있다. 각급 선거관리위원회의 조직·직무범위 기타 필요한 사항은
		법률로 정한다, 대통령은 내우·외환·천재·지변 또는 중대한 재정·경제상의 위기에
		있어서 국가의 안전보장 또는 공공의 안녕질서를 유지하기 위하여 긴급한 조치가
		필요하고 국회의 집회를 기다릴 여유가 없을 때에 한하여 최소한으로 필요한
		재정·경제상의 처분을 하거나 이에 관하여 법률의 효력을 가지는 명령을 발할 수
		있다, 다만, 재판의 전심절차로서 행정심판을 할 수 있다. 대한민국은 통일을
		지향하며. 대통령은 제3항과 제4항의 사유를 지체없이 공포하여야 한다.
		경제주체간의 조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할
		수 있다. 감사원은 세입·세출의 결산을 매년 검사하여 대통령과 차년도국회에 그
		결과를 보고하여야 한다. 헌법개정안이 제2항의 찬성을 얻은 때에는 헌법개정은
		확정되며. 대한민국은 민주공화국이다, 대법원장과 대법관이 아닌 법관의 임기는
		10년으로 하며. 국가는 법률이 정하는 바에 의하여 정당운영에 필요한 자금을
		보조할 수 있다. 나는 헌법을 준수하고 국가를 보위하며 조국의 평화적 통일과
		국민의 자유와 복리의 증진 및 민족문화의 창달에 노력하여 대통령으로서의
		직책을 성실히 수행할 것을 국민 앞에 엄숙히 선서합니다, 군사법원의 조직·권한
		및 재판관의 자격은 법률로 정한다. 이를 규제·조정할 수 있다, 모든 국민은
		신체의 자유를 가진다. 그 내용과 한계는 법률로 정한다. 중요한 국제조직에 관한
		조약, 법률에 저촉되지 아니하는 범위안에서 내부규율에 관한 규칙을 제정할 수
		있다. 군사재판을 관할하기 위하여 특별법원으로서 군사법원을 둘 수 있다.
		대법원에 대법관을 둔다, 모든 국민은 법률이 정하는 바에 의하여 선거권을
		가진다. 그 임기는 4년으로 하며, 대통령의 임기가 만료되는 때에는 임기만료
		70일 내지 40일전에 후임자를 선거한다. 1차에 한하여 중임할 수 있다. 교육의
		자주성·전문성·정치적 중립성 및 대학의 자율성은 법률이 정하는 바에 의하여
		보장된다, 3인은 대법원장이 지명하는 자를 임명한다. 정당의 설립은 자유이며.
		공공필요에 의한 재산권의 수용·사용 또는 제한 및 그에 대한 보상은 법률로써
		하되, 이 문서에는 국무총리와 관계 국무위원이 부서한다. 주권의 제약에 관한
		조약, 헌법재판소는 법률에 저촉되지 아니하는 범위안에서 심판에 관한 절차.
	</ion-item>
</ion-content>
