<ion-header>
	<ion-toolbar>
		<ion-img [src]="logo" class="smllogo__img ml-3" alt="logo"></ion-img>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>
<ion-content>
	<h1 class="text-center p-5 mt-5">
		죄송합니다. 고객님의 vehicle은 수출차 대상이 아닙니다
	</h1>
	<ion-item-group>
		<ion-card>
			<ion-img [src]="image"></ion-img>
		</ion-card>
		<ion-card>
			<ion-img [src]="image"></ion-img>
		</ion-card>
	</ion-item-group>
</ion-content>
