<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-img [src]="logo" class="smllogo__img p-1" alt="logo"></ion-img>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item lines="none">
					<ion-label>Notifications Setting</ion-label>
					<ion-toggle></ion-toggle>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item lines="none">
					<ion-label>Version Information</ion-label>
					<ion-badge slot="end">v1.01</ion-badge>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-label>Version Infor</ion-label>
				<mat-accordion class="mt-2 mb-2">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Term & Conditions
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
						tempora magnam quam. Voluptate neque dignissimos eius doloremque
						vero, fuga voluptatibus laboriosam, nesciunt deserunt nostrum
						ducimus. Sequi magnam esse consectetur dolorum. Dolorem voluptas,
						sequi totam accusantium quia hic molestiae inventore magnam
						doloribus voluptates praesentium eius? Iure pariatur sapiente
						delectus laudantium magnam consectetur. Repellat veniam atque
						incidunt officiis voluptatibus? Reprehenderit, recusandae excepturi.
						Error eligendi natus iusto quod ab suscipit repudiandae mollitia
						optio eum? Dolorem illum unde voluptate minus necessitatibus, et
						fugiat eos magnam nihil enim aliquam obcaecati reiciendis
						consequatur perspiciatis, voluptatem voluptates.
					</mat-expansion-panel>

					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Privacy Policy
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
						tempora magnam quam. Voluptate neque dignissimos eius doloremque
						vero, fuga voluptatibus laboriosam, nesciunt deserunt nostrum
						ducimus. Sequi magnam esse consectetur dolorum. Dolorem voluptas,
						sequi totam accusantium quia hic molestiae inventore magnam
						doloribus voluptates praesentium eius? Iure pariatur sapiente
						delectus laudantium magnam consectetur. Repellat veniam atque
						incidunt officiis voluptatibus? Reprehenderit, recusandae excepturi.
						Error eligendi natus iusto quod ab suscipit repudiandae mollitia
						optio eum? Dolorem illum unde voluptate minus necessitatibus, et
						fugiat eos magnam nihil enim aliquam obcaecati reiciendis
						consequatur perspiciatis, voluptatem voluptates.
					</mat-expansion-panel>
				</mat-accordion>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-label>Contact</ion-label>
				<mat-accordion class="mt-2 mb-2">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Contact Us
							</mat-panel-title>
						</mat-expansion-panel-header>
						<ion-item>
							Phone: 02-123-1234
						</ion-item>
						<ion-item lines="none">
							Email: soochulo@sochulo.com
						</ion-item>
					</mat-expansion-panel>
				</mat-accordion>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-label>Guide</ion-label>
				<mat-accordion class="mt-2 mb-2">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								FAQ
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem culpa
						quis excepturi. Quisquam tenetur libero iusto beatae ipsa facere
						nulla distinctio ex praesentium! Voluptatum deserunt alias, odit
						magni at eligendi.
					</mat-expansion-panel>
				</mat-accordion>
			</ion-col>
		</ion-row>

		<!-- <ion-button shape="round" expand="block" (click)="logOut()" class="mt-5">
			Sign Out
		</ion-button> -->
	</ion-grid>
</ion-content>
