<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home/seller"></ion-back-button>
		</ion-buttons>
		<ion-title class="title">{{'home_info.information' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="mt-5">
		<ion-row>
			<ion-col>
				<mat-accordion class="mt-2 mb-2">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<strong>{{'home_info.info_car_export' | translate}}</strong>
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
						tempora magnam quam. Voluptate neque dignissimos eius doloremque
						vero, fuga voluptatibus laboriosam, nesciunt deserunt nostrum
						ducimus. Sequi magnam esse consectetur dolorum. Dolorem voluptas,
						sequi totam accusantium quia hic molestiae inventore magnam
						doloribus voluptates praesentium eius? Iure pariatur sapiente
						delectus laudantium magnam consectetur. Repellat veniam atque
						incidunt officiis voluptatibus? Reprehenderit, recusandae excepturi.
						Error eligendi natus iusto quod ab suscipit repudiandae mollitia
						optio eum? Dolorem illum unde voluptate minus necessitatibus, et
						fugiat eos magnam nihil enim aliquam obcaecati reiciendis
						consequatur perspiciatis, voluptatem voluptates.
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<strong>{{'home_info.info_term_condition' | translate}}</strong>
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
						tempora magnam quam. Voluptate neque dignissimos eius doloremque
						vero, fuga voluptatibus laboriosam, nesciunt deserunt nostrum
						ducimus. Sequi magnam esse consectetur dolorum. Dolorem voluptas,
						sequi totam accusantium quia hic molestiae inventore magnam
						doloribus voluptates praesentium eius? Iure pariatur sapiente
						delectus laudantium magnam consectetur. Repellat veniam atque
						incidunt officiis voluptatibus? Reprehenderit, recusandae excepturi.
						Error eligendi natus iusto quod ab suscipit repudiandae mollitia
						optio eum? Dolorem illum unde voluptate minus necessitatibus, et
						fugiat eos magnam nihil enim aliquam obcaecati reiciendis
						consequatur perspiciatis, voluptatem voluptates.
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<strong>{{'home_info.infor' | translate}}</strong>
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
						tempora magnam quam. Voluptate neque dignissimos eius doloremque
						vero, fuga voluptatibus laboriosam, nesciunt deserunt nostrum
						ducimus. Sequi magnam esse consectetur dolorum. Dolorem voluptas,
						sequi totam accusantium quia hic molestiae inventore magnam
						doloribus voluptates praesentium eius? Iure pariatur sapiente
						delectus laudantium magnam consectetur. Repellat veniam atque
						incidunt officiis voluptatibus? Reprehenderit, recusandae excepturi.
						Error eligendi natus iusto quod ab suscipit repudiandae mollitia
						optio eum? Dolorem illum unde voluptate minus necessitatibus, et
						fugiat eos magnam nihil enim aliquam obcaecati reiciendis
						consequatur perspiciatis, voluptatem voluptates.
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<strong>{{'home_info.paper_info' | translate}}</strong>
							</mat-panel-title>
						</mat-expansion-panel-header>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
						tempora magnam quam. Voluptate neque dignissimos eius doloremque
						vero, fuga voluptatibus laboriosam, nesciunt deserunt nostrum
						ducimus. Sequi magnam esse consectetur dolorum. Dolorem voluptas,
						sequi totam accusantium quia hic molestiae inventore magnam
						doloribus voluptates praesentium eius? Iure pariatur sapiente
						delectus laudantium magnam consectetur. Repellat veniam atque
						incidunt officiis voluptatibus? Reprehenderit, recusandae excepturi.
						Error eligendi natus iusto quod ab suscipit repudiandae mollitia
						optio eum? Dolorem illum unde voluptate minus necessitatibus, et
						fugiat eos magnam nihil enim aliquam obcaecati reiciendis
						consequatur perspiciatis, voluptatem voluptates.
					</mat-expansion-panel>
				</mat-accordion>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
