.title {
	line-height: normal;

	margin-top: 1rem;
	margin-bottom: 0.3rem;
}

.guide-item {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	& img {
		height: 10rem;
		object-fit: cover;
	}
}
