<ion-router-outlet></ion-router-outlet>
<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="seller">
			<ion-icon name="car-outline"></ion-icon>
			<ion-label>홈</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="ongoing">
			<ion-icon name="logo-stackoverflow"></ion-icon>
			<ion-label>진행중</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="setting">
			<ion-icon name="settings-outline"></ion-icon>
			<ion-label>전체메뉴</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
