<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-label>{{'dealer_detail.header' | translate}}</ion-label>
	<ion-card class="mt-3 p-0" *ngIf="!dealer">
		<ion-card-content class="p-0">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<ion-skeleton-text animated></ion-skeleton-text>
				</ion-avatar>
				<ion-label>
					<h2><ion-skeleton-text animated></ion-skeleton-text></h2>
					<p class="fs-25"><ion-skeleton-text animated></ion-skeleton-text></p>
				</ion-label>
				<ion-note slot="end">
					<p><ion-skeleton-text animated></ion-skeleton-text></p>
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card class="mt-3 p-0" *ngIf="dealer">
		<ion-card-content class="p-0">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="../../../../assets/images/photos/33327.jpg" />
				</ion-avatar>
				<div class="mt-3">
					<p class="fs-10">({{dealer.orgname}})</p>
					<h3>{{dealer.email}}</h3>
					<p class="fs-10">{{dealer.phone}}</p>
				</div>
				<ion-note slot="end">
					<bar-rating
						[(ngModel)]="dealer.averStar"
						[max]="5"
						[theme]="'fontawesome'"
						class="not-active"
					>
					</bar-rating>
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-label>{{'dealer_detail.review_section' | translate}}</ion-label>
	<ion-list class="m-0 p-0" *ngFor="let item of review">
		<ion-item lines="none" class="p-0">
			<ion-thumbnail slot="start">
				<img src="../../../../../assets/images/photos/31887.jpg" />
			</ion-thumbnail>
			<div>
				<bar-rating
					[(ngModel)]="item.star"
					[max]="5"
					[theme]="'fontawesome'"
					class="not-active"
				>
				</bar-rating>
				<div class="m-0 p-0">
					<p>K5 <span class="fs-10">2009</span></p>
					<p class="fs-17">
						￦{{(item.revRequest?.finalPrice === 0 ?
						item.revRequest?.participants[1] : item.revRequest?.finalPrice) |
						number}}
					</p>
					<ion-note class="fs-17">"{{item.review}}"</ion-note>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer class="ion-padding" *ngIf="request && request.expiredTime < now">
	<ion-button expand="block" color="tertiary" (click)="selectDealer()"
		>{{'dealer_detail.dealer_select' | translate}}</ion-button
	>
</ion-footer>
<ion-footer class="ion-padding" *ngIf="request && request.expiredTime > now">
	<ion-button expand="block" color="tertiary" disabled
		>{{'dealer_detail.dealer_select' | translate}}</ion-button
	>
</ion-footer>
