<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-label>Dealer Information</ion-label>
	<ion-card class="mt-3 p-0" *ngIf="!dealer">
		<ion-card-content class="ion-no-padding">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<ion-skeleton-text animated></ion-skeleton-text>
				</ion-avatar>
				<ion-label>
					<h2><ion-skeleton-text animated></ion-skeleton-text></h2>
					<p class="fs-25"><ion-skeleton-text animated></ion-skeleton-text></p>
				</ion-label>
				<ion-note slot="end">
					<p><ion-skeleton-text animated></ion-skeleton-text></p>
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card class="mt-3 p-0" *ngIf="dealer">
		<ion-card-content class="ion-no-padding">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="../../../../assets/images/photos/33327.jpg" />
				</ion-avatar>
				<div class="mt-3">
					<p class="fs-10">({{dealer.orgname}})</p>
					<h3>{{dealer.email}}</h3>
					<p class="fs-10">{{dealer.phone}}</p>
				</div>
				<ion-note slot="end">
					<bar-rating
						[(ngModel)]="dealer.averStar"
						[max]="5"
						[theme]="'fontawesome'"
						class="not-active"
					>
					</bar-rating>
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-label>Review Section</ion-label>
	<ion-list class="ion-no-padding" *ngFor="let item of review">
		<ion-item lines="none">
			<ion-thumbnail slot="start">
				<img
					src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
				/>
			</ion-thumbnail>
			<ion-label>
				<bar-rating
					[(ngModel)]="item.star"
					[max]="5"
					[theme]="'fontawesome'"
					class="not-active"
				>
				</bar-rating>
				<div>
					<p>K5 <span class="fs-10">2009</span></p>
					<p>
						{{item.revRequest?.finalPrice === 0 ?
						item.revRequest?.participants[1] : item.revRequest?.finalPrice}}
					</p>
					<p>"{{item.review}}"</p>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer class="ion-padding" *ngIf="request && request.expiredTime < now">
	<ion-button expand="block" color="tertiary" (click)="selectDealer()"
		>Dealer Select</ion-button
	>
</ion-footer>
<ion-footer class="ion-padding" *ngIf="request && request.expiredTime > now">
	<ion-button expand="block" color="tertiary" disabled
		>Dealer Select</ion-button
	>
</ion-footer>
