<ion-header>
	<ion-toolbar>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
		<ion-title>Request</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="p-1">
	<ion-card class="p-2">
		<ion-item>
			<ion-label position="stacked">Plate Number</ion-label>
			<ion-input
				type="text"
				placeholder="Your Plate Number"
				[(ngModel)]="plate"
			></ion-input>
		</ion-item>
		<ion-button expand="block" [disabled]="!plate" (click)="createPlate()">
			Confirm
		</ion-button>
	</ion-card>
</ion-content>
