<ion-header>
	<ion-toolbar>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
		<ion-title>Request</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="p-1">
	<ion-card class="p-2">
		<ion-item class="mt-4">
			<ion-label position="floating"
				>{{'request.plate_number'|translate}}</ion-label
			>
			<ion-input
				type="text"
				placeholder="{{'request.plate_number_placeholder'| translate}}"
				[(ngModel)]="plate"
			></ion-input>
		</ion-item>
		<ion-button
			class="mt-4"
			expand="block"
			color="tertiary"
			[disabled]="!plate"
			(click)="createPlate()"
		>
			{{'request.confirm'|translate}}
		</ion-button>
	</ion-card>
</ion-content>
