<ion-header>
	<ion-toolbar>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','seller']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
		<ion-title>Request</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="m-0 p-0 plate-card">
		<ion-card-content class="m-0 p-2">
			<ion-item>
				<ion-label position="stacked"
					>{{'request.plate_number'|translate}}</ion-label
				>
				<ion-input
					type="text"
					placeholder="{{'request.plate_number_placeholder'| translate}}"
					[(ngModel)]="plate"
					class="mt-2"
				></ion-input>
			</ion-item>
			<ion-button
				expand="block"
				color="tertiary"
				[disabled]="!plate"
				(click)="createPlate()"
				class="mt-6"
			>
				{{'request.confirm'|translate}}
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
