.item ion-thumbnail {
	min-width: 7.5rem;
	min-height: 7.5rem;
	img {
		object-fit: cover;
		margin-left: -1rem;
	}
}

.title {
	line-height: normal;
}

.item-card {
	border: 0.5px solid black;
	border-radius: 10px;

	margin-bottom: 8px;
}
