<ion-header>
	<ion-toolbar>
		<ion-title class="title"
			>{{'home_notifications.notifications' | translate}}</ion-title
		>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home/seller"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div style="display: flex; justify-content: center">
		<ion-spinner *ngIf="!noti"></ion-spinner>
	</div>

	<ion-list *ngIf="noti">
		<ion-item
			*ngFor="let item of noti"
			lines="none"
			[routerLink]="['/','home','ongoing', item.requestId]"
			class="item-card"
		>
			<ion-thumbnail slot="start" class="m-0">
				<img src="../../../../assets/images/photos/31887.jpg" />
			</ion-thumbnail>
			<ion-grid class="p-0 m-0 mt-1">
				<ion-row class="m-0 p-0">
					<ion-col size="8" [ngSwitch]="item.status">
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="1"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Quote in progress</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="2"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Please select the dealer
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="3"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Waiting for dealer's confirmation
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="4"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Selected dealer cancel, please reselect dealer
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="5"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Trade processing</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="6"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Selected dealer cancel, please reselect dealer
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="7"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Write review</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchCase="8"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Trade complete</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 6px"
							*ngSwitchDefault=""
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Trade complete</p>
						</div>
					</ion-col>
					<ion-col size="4" class="mt-1 fs-10">
						{{item.updateDate * 1000 | dateAgo}}
					</ion-col>
				</ion-row>

				<div>
					<p>2009, K-5 <span class="fs-10">12가1234</span></p>
				</div>
				<div>
					<p>
						{{item.request?.miles | number}} Km
						<span class="pull-right"
							>￦{{item.request?.price || 0 | number}}
						</span>
					</p>
				</div>
			</ion-grid>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Loading more data..."
		>
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
