P {
	line-height: 2rem;
}

.smllogo {
	&__img {
		height: 2.6rem;
		width: 45%;
	}
}

.request {
	margin-top: 6rem;
	&__button {
		position: absolute;
		top: 75%; /* position the top  edge of the element at the middle of the parent */
		left: 50%; /* position the left edge of the element at the middle of the parent */
		transform: translate(-50%, -50%);

		text-align: center;

		width: 80vw;

		z-index: 1;
	}
}
