<ion-header>
	<ion-toolbar>
		<ion-title>Request Detail</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item-group>
		<ion-item>
			<ion-label position="floating">Seller</ion-label>
			<ion-input type="text" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Phone</ion-label>
			<ion-input type="number" [(ngModel)]="phone"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Location</ion-label>
			<ion-input type="text" [(ngModel)]="location"></ion-input>
		</ion-item>
	</ion-item-group>
	<ion-button expand="block" (click)="updateRequest()">
		Create Request
	</ion-button>
</ion-content>
