<ion-header>
	<ion-toolbar>
		<ion-title>{{'request_detail.header' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid class="mb-5">
		<ion-row class="mt-4 mb-4">
			<ion-col>
				<ion-label class="pl-2 pr-2 fs-35">2009</ion-label>
				<ion-label class="pl-2 pr-2 fs-35">K-5</ion-label>
				<ion-label class="pl-2 pr-2">12K1234</ion-label>
			</ion-col>
		</ion-row>
		<ion-label>{{'request_detail.upload_instruction' | translate}}</ion-label>
		<ion-row class="mb-4 p-5">
			<ion-col size="4">
				<ion-label class="label fs-10"
					>{{'request_detail.image_front' | translate}}</ion-label
				>
				<ion-img [src]="sample"></ion-img>
			</ion-col>
			<ion-col size="4">
				<ion-label class="label fs-10"
					>{{'request_detail.image_back' | translate}}</ion-label
				>
				<ion-img [src]="sample"></ion-img>
			</ion-col>
			<ion-col size="4">
				<ion-label class="label fs-10"
					>{{'request_detail.image_left' | translate}}</ion-label
				>
				<ion-img [src]="sample"></ion-img>
			</ion-col>
			<ion-col size="4">
				<ion-label class="label fs-10"
					>{{'request_detail.image_right' | translate}}</ion-label
				>
				<ion-img [src]="sample"></ion-img>
			</ion-col>
			<ion-col size="4">
				<ion-img [src]="sample"></ion-img>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="text-center">
				<ion-button expand="block"
					>{{'request_detail.insurance_history' | translate}}</ion-button
				>
				<ion-label
					>{{'request_detail.upload_requirement' | translate}}</ion-label
				>
			</ion-col>
		</ion-row>
	</ion-grid>
	<form [formGroup]="detailForm">
		<ion-item-group class="mb-5">
			<ion-item>
				<ion-label position="floating"
					>{{'request_detail.input_name' | translate}}</ion-label
				>
				<ion-input type="text" [formControl]="name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating"
					>{{'request_detail.input_phone' | translate}}</ion-label
				>
				<ion-input type="number" [formControl]="phone"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating"
					>{{'request_detail.location_header' | translate}}</ion-label
				>
				<ion-select
					interface="action-sheet"
					placeholder="{{'request_detail.location_input_placeholder' | translate}}"
					[formControl]="location"
				>
					<ion-select-option *ngFor="let item of locations">
						{{item.city}}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label position="floating"
					>{{'request_detail.input_mileages' | translate}}</ion-label
				>
				<ion-input type="number" [formControl]="miles"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating"
					>{{'request_detail.other_notes' | translate}}</ion-label
				>
				<ion-textarea type="text" [formControl]="other"></ion-textarea>
			</ion-item>
			<ion-input hidden [formControl]="seller" [value]="sellerId"></ion-input>
		</ion-item-group>
		<ion-button
			expand="block"
			(click)="updateRequest()"
			[disabled]="!detailForm.valid"
		>
			{{'request_detail.request_quote' | translate}}
		</ion-button>
	</form>
</ion-content>
