<ion-header>
	<ion-toolbar>
		<ion-title>Request Detail</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="detailForm">
		<ion-item-group>
			<ion-item>
				<ion-label position="floating">Seller</ion-label>
				<ion-input type="text" [formControl]="name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Phone</ion-label>
				<ion-input type="number" [formControl]="phone"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Location</ion-label>
				<ion-input type="text" [formControl]="location"></ion-input>
			</ion-item>
		</ion-item-group>
		<ion-button expand="block" (click)="updateRequest()">
			Create Request
		</ion-button>
	</form>
</ion-content>
